html {
    scroll-behavior: smooth;
  }

body {
    background-size: 100%;
    font-family: 'RocknRoll One', sans-serif;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 15px;
  color: #228f4f;
  font-family: 'RocknRoll One', sans-serif;
}
.btnverde{
  background-color: #228f4f; 
  color: white;
}
.btnverde:hover{
  background-color: #23bb62; 
  color: white;
}
a:hover {
  text-decoration: none;
}
a:link{
  text-decoration: none;
}
* {outline: none !important;}
a {color: black; text-decoration: none;}
a:hover {text-decoration: none;}

button:focus {
  outline: 0;
  outline: 5px auto -webkit-focus-ring-color;
}
.logo {
    width: 30%;
}



@keyframes logomain{
    0% {
      margin-top: -100%;
    }

    100% {
      margin-top: 80px;
    }
}
@media (max-width: 940px) {
.carousel-item {
  margin-top: -6rem;
  height: 80vh;
  min-height: 100px;
  background: no-repeat center center scroll;
  overflow: hidden;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  transition: .5s;
}
}
.foo {
  height: 50%;
  padding: 0; /* remove any pre-existing padding, just in case */
  padding-bottom: 30%; /* for a 4:3 aspect ratio */
  background-image: url(../img/patinete-Nullam.png);
  background-position: center center;
  background-size: 100%;
  background-repeat: no-repeat

}

.btnpill {
  background-color: rgba(221, 221, 221, 0.767);
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 46px;
  transition: 0.7s;
}

.duki:hover{
  color:blue;
}
.btnpill:hover {
  background-color: rgba(0, 128, 0, 0.726);
  color:White;
  transform: scale(1.2);
}

.carousel-item {
  margin-top: -6rem;
  height: 80vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  overflow: hidden;
  -o-background-size: cover;
  background-size: cover;
  transition: .5s;
}
@media (min-width: 768px) {
    .flex-md-equal > * {
      -ms-flex: 1;
      flex: 1;
    }
  }
  .overflow-hidden { overflow: hidden; }
  
  .poweredbybubble{
    position: relative;
    margin-top: -7%;
    margin-left: 25px;
    z-index:  10;
  }
  
  
  .onepage p{
    color: white;
    z-index:  10;
    font-weight: normal;
    font-size: 20px;
  }
  
  .onepagem p{
    color: white;
    z-index:  10;
    font-weight: normal;
    font-size: 20px;
  }
  
  
  
  .onepaget{
    color: #ff6d05;
    z-index:  10;
    font-weight: normal;
    margin-bottom: 10%;
  }
  
  
  .onepagew p{
    color: #242424;
    font-weight: normal;
    font-size: 20px;
  }
  
  .apartadosdiscright{
    background-color: #fff;
    width: 560px;
    height: 300px;
    border-radius: 15px;
    box-shadow: 0 0 5px white;
  }
  
  .apartadosdiscleft{
    background-color: #fff;
    position:absolute;
    float: left;
    width: 550px;
    height: 300px;
    border-radius: 15px;
    box-shadow: 0 0 45px black;
  }
  
  .descripcionesinversa{
    float: right;
    margin-left: 50%;
    margin-bottom: 15%;
  }
  
  .logopage img{
    margin-bottom: 40px;
    position: relative;
  }
  

  
  
  #contenedor_carga{
    overflow-y: hidden;
    background-color:#242424;
    height: 100%;
    width: 100%;
    position: fixed;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    z-index: 100000;
  }
  
  #carga{
    border: 11px solid #ccc;
    border-top-color: #228f4f;
    border-top-style: groove;
    height: 100px;
    width: 100px;
    border-radius: 100%;
  
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    -webkit-animation: girar 1.5s linear infinite;
    animation: girar 1.5s linear infinite;
    -o-animation: girar 1.5s linear infinite;
  
  }
  
  
.btnlog{
    font-size: 14px;
    background: #228f4f;
    padding: 0 16px;
    color: #fff;
    border-radius: 8px;
    height: 35px;
    width: 100px;
    display: relative;
    line-height: 30px !important;
}

.btnreg{
    font-size: 14px;
    background-color: white;
    color: #228f4f;
    padding: 0 16px;
    display: relative;
    height: 35px;
    width: 115px;
    line-height: 30px !important;
    border-radius: 8px;
    margin-right: 20px;
}


section {
    margin-bottom: 90px;
}

.fsubir {

    border: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 20px;
  }

  .descripciones {
      margin-left: 60%;
      margin-right: -60%;
  }

  
/* ANIMACIONES DEL FONDO */
.area{
    background: #242424;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:100vh;   
   
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: #228f4f9d;
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}


.picture img {
  height: 8vw;
  width: 8vw;
  position: relative;
  top: 1vw
}

.add {
  background-color: #43a047;
  position: relative;
  top: 3vw;
  right: 2vw
}

.name {
  font-size: 20px
}

.details p {
  position: relative;
  top: 1vw
}

.name i {
  color: blue
}

td {
  text-align: center
}

tr {
  border: 2px solid white
}

.table {
  margin-top: 2vw;
}

.edit {
  background-color: #228f4f;
  width: 90%;
  color: #fff !important
}

@media only screen and (max-width: 425px) {
  .main {
      width: 100vw;
      height: auto
  }

.btnvolver{
  background-color: #228f4f; 
  color: #fff;
}

.btnvolver:hover{
  background-color: #146134; 
}
}

*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


.dropdown {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 220px;
  background: #fff;
  color: #666;
  border-radius: 4px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1), 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.dropdown li:hover:not(.title) {
  background-color: #efefef;
}

.dropdown strong {
  color: #3E3E3E;
  font-weight: 400;
  display: block;
  margin-bottom: 0.75em;
}

.dropdown li.title {
  font-size: 16px;
  padding: 10px 12px;
  color: #81c483;
}

.dropdown li.divider {
  background-color: #cfcfcf;
  height: 1px;
}

.dropdown li.note {
  background: #f6f6f6;
  border-top: 1px solid #cfcfcf;
  color: #aaa;
  font-size: 12px;
  padding: 12px;
}

.dropdown li label {
  display: block;
  line-height: 36px;
  padding-left: 36px;
}

.dropdown li label > span {
  position: absolute;
  display: inline-block;
  left: 12px;
  margin-top: 12px;
  width: 12px;
  height: 12px;
  border: 1px solid #cfcfcf;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.dropdown li label input {
  display: none;
}

.dropdown li label input[type=checkbox] ~ span {
  border-radius: 2px;
}

.dropdown li label input[type=radio]~ span {
  border-radius: 100%;
}
.circulo {
  width: 50px;
  height: 50px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #fff;
}
.dropdown li label input[type=checkbox]:checked ~ span {
  background-color: #81c483;
  border: 1px solid #999;
}

.dropdown li label input[type=radio]:checked ~ span {
  background-color: #81c483;
  border: 1px solid #999;
}